body {
    line-height: 1;
}

h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer
}

h1 span {
    transition: .3s linear
}

h1:hover span:nth-child(1) {
    margin-right: 5px
}

h1:hover span:nth-child(1):after {
    font-size: 16px;
    content: "         Making things easy...";
}

h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px rgb(48, 151, 235), 0 0 2px rgb(48, 151, 235), 0 0 3px rgb(48, 151, 235);
}


/* Placeholder color */

::placeholder {
    color: rgb(192, 185, 185);
    opacity: 1;
}


/* iFrame settings */

iframe {
    padding-top: 10px;
}


/* Style the tab */

.tab {
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.tab:hover {
    border-radius: 20px;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    color: aliceblue;
    float: left;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: rgb(114, 112, 112);
    text-shadow: 0 0 10px #fff, 0 0 1.5px #fff, 0 0 2px #fff;
    width: 150px;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: rgb(95, 93, 93);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #fff, 0 0 1.5px #fff, 0 0 2px #fff;
    width: 150px;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

textarea {
    background-color: rgb(70, 69, 69);
    resize: both;
    padding: 10px;
    border-radius: 5px;
    width: 65%;
    height: 150px;
    color: rgb(221, 213, 213);
    box-shadow: 0 0 2px #fff, 0 0 1.5px #fff, 0 0 2px #fff;
}

textarea:focus {
    box-shadow: 0 0 10px #fff, 0 0 1.5px #fff, 0 0 2px #fff;
}


/* Rule builder template */

.three-col {
    overflow: hidden;
}

.three-col .col1,
.three-col .col2,
.three-col .col3 {
    width: 33%;
}

.three-col .col1 {
    float: left;
}

.three-col .col2 {
    float: left;
}

.three-col .col3 {
    float: left;
}

.three-col label {
    display: block;
}


/* Logzlizer template */

.lthree-col {
    overflow: hidden;
}

.lthree-col .col1,
.lthree-col .col2,
.lthree-col .col3,
.lthree-col .col4 {
    width: 25%;
}

.lthree-col .col1 {
    float: left;
}

.lthree-col .col2 {
    float: left;
}

.lthree-col .col3 {
    float: left;
}

.lthree-col .col4 {
    float: right;
}

.lthree-col label {
    display: block;
}


/* 4th GUI Logs button style */

.hide {
    display: none;
}

.show {
    display: block;
}

#guilogs {
    height: 100px;
    width: 350px;
    border: 1px solid gray;
    background-color: rgb(70, 69, 69);
    color: white;
}

#guilogs:focus {
    box-shadow: 0 0 10px #fff, 0 0 1.5px #fff, 0 0 2px #fff;
}

.textbox {
    resize: both;
    width: 95%;
    font-size: 15px;
    padding: 4px;
    border-radius: 5px;
    height: 150px;
    box-shadow: 0 0 2px #fff, 0 0 1.5px #fff, 0 0 2px #fff;
}

#build {
    resize: both;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(70, 69, 69);
    color: rgb(199, 192, 192);
    font-size: 16px;
    font-family: monospace;
    box-shadow: 0 0 2px #fff, 0 0 1.5px #fff, 0 0 2px #fff;
}

#build:focus {
    box-shadow: 0 0 10px #fff, 0 0 1.5px #fff, 0 0 2px #fff;
}

.keyword {
    color: orange;
}

.formated {
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(155, 155, 155);
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
}

.logsuccess {
    color: rgb(64, 204, 64);
}

.logwarning {
    color: rgb(212, 212, 80);
}

.logprimary {
    color: rgb(109, 109, 236);
}

.logdanger,
.oserror10051,
.oserror10060,
.oserror10054,
.oserror10061,
.oserror1450 {
    color: rgb(233, 72, 72);
}


/* .logsuccess:hover,
.logdanger:hover,
.logwarning:hover,
.logprimary:hover {
    font-size: 20px;
} */

.loginfoh:hover::after {
    background-color: rgb(192, 189, 189);
    border: 2px;
    border-radius: 10px;
    font-size: 20px;
}

.missing {
    color: rgb(233, 72, 72);
}

.oserror10051:hover:after {
    content: " happens because the other network is unreachable, usually because there is a problem with the router or modem on the computer attempting the connection. This can be as harmless as the router being shut off or a firewall getting in the way";
}

.oserror10060:hover:after {
    content: "  is a connection-timeout error that usually appears when the client does not receive a response from the server for a specific command. This error often occurs when you try to connect in PASV mode to a server that prefers PORT for data connections";
}

.oserror10054:hover:after {
    content: "  Connection reset by peer. An existing connection was forcibly closed by the remote host. ... This Windows error 10054 occurs when the connection is reset by the peer application. It happens usually due to an incorrect firewall configuration";
}

.oserror10061:hover:after {
    content: " Winsock error 10061 means that the server you are attempting to connect to is actively refusing the connection. This usually results from trying to connect to a service that is inactive on the foreign host."
}

.oserror1450:hover::after {
    content: " The operating system returned error 1450 (Insufficient system resources exist to complete the requested service.)"
}

.oserror104:hover::after {
    content: "Connection reset by peer host. It means that TCP reset has been sent to your computer."
}

.Luastring:hover::after {
    content: "Could be a error while running the custom Lua extension."
}

.missing:hover::after {
    content: "Try running the offline scan via command line and extract the tarball to see if the mssing data on GUI is present"
}


/* Hyperlink colors*/

a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}


/* Into page tools */

.para {
    font-size: 23px;
    background: -webkit-linear-gradient(rgb(187, 194, 187), rgb(102, 103, 104));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}